Interpolate from the user sign up somehow...
Or not...
Just have them fill out the form with all the info.
Beautify it all up later on.



<div class="container">
  <div class="row">
    <div class="col mt-4">
      <img src="" alt=""
      class="img-fluid">
    </div>
    <div class="col card p-4 m-4 bg-light">
      <h1>Become a member!</h1>
      <h2>Share your art with the world!</h2>
      <p>Easy and free to sign up!</p>

      <%= simple_form_for @member do |f|%>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :artist_name %>
      <%= f.input :photo %>

      <%= f.input :bio %>
      <%= f.input :age %>
      <%= f.input :languages_spoken %>
      <%= f.input :website %>
      <%= f.input :instagram %>
      <%= f.input :facebook %>
      <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>

